body {
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 16px; }

h1 {
  font-weight: 100;
  font-style: thin;
  font-size: 60px; }

h2 {
  font-size: 40px; }

h4 {
  font-size: 22px; }

.container {
  margin: 0;
  width: auto; }

.title {
  color: #ff6d6d; }

input:focus {
  border-shadow: none; }

input:active, input:hover, input:focus {
  outline: none !important;
  outline-offset: 0; }

header {
  background-image: url("../img/logo.png");
  min-height: 600px;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 3; }

header .logo {
  z-index: 2;
  margin: auto; }

header h1 {
  margin-top: 200px;
  margin-bottom: 0;
  text-align: center; }

header i {
  margin-top: 50px;
  text-align: center;
  color: #8286a4; }

header .btn {
  margin-top: 35px;
  height: 50px;
  border: none;
  text-align: center;
  background-color: #ff6d6d;
  color: #ffffff;
  font-weight: 400;
  font-style: regular;
  font-size: 16px;
  padding-top: 15px;
  margin-left: 46%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

header .btn:hover, .btn:active, .btn:visited {
  border: none;
  background-color: #cc5757;
  color: #ffffff; }

header p {
  color: #7b7b7c;
  font-family: 'Exo', sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: 14px;
  text-align: center; }

.section-one {
  height: 700px;
  margin-top: 180px; }
  .section-one .left {
    z-index: 2;
    position: absolute; }
  .section-one .right {
    width: 50%;
    height: 880px;
    margin-top: -180px;
    margin-left: 50%;
    background-color: #ececec;
    position: relative; }
    .section-one .right svg {
      position: absolute;
      bottom: 0%;
      left: 0%; }

.section-two {
  height: 670px;
  background-color: #f6f5f3;
  z-index: 3;
  position: relative; }
  .section-two .title {
    text-align: center;
    padding-top: 130px; }
  .section-two h2 {
    color: black;
    text-align: center; }
  .section-two .features {
    text-align: center;
    margin-top: 50px; }
  .section-two .bg-features {
    min-height: 250px;
    background-repeat: no-repeat;
    position: relative;
    background-size: auto; }
  .section-two .bg-f-1 {
    background-image: url("../img/bg-f-1.png");
    background-color: #f6f5f3;
    background-position: 30% 0%; }
  .section-two .bg-f-2 {
    background-image: url("../img/bg-f-2.png"); }
  .section-two .bg-f-3 {
    background-image: url("../img/bg-f-3.png");
    margin-top: 30px; }

.section-three {
  height: 550px; }
  .section-three svg {
    margin-top: -75px;
    margin-left: -15px; }
  .section-three .bg-responsive {
    background-image: url("../img/macbook.png");
    min-height: 350px;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    margin-top: -450px; }
  .section-three p {
    margin-top: 40px; }
  .section-three .title {
    margin-top: 0px; }
  .section-three .article {
    z-index: 2;
    position: absolute; }

.section-four {
  height: 640px;
  background-image: url("../img/bg-four.png");
  min-height: 500px;
  position: relative;
  background-size: cover;
  background-position: center;
  margin-top: -50px; }
  .section-four .reviews {
    text-align: center;
    margin-top: 100px;
    color: #ffffff; }
    .section-four .reviews .reviews-items {
      padding: 0; }
  .section-four .rewards {
    text-align: center;
    margin-top: 40px; }

.section-five {
  height: 650px;
  background-color: #f6f5f3; }
  .section-five .intro {
    margin-top: 100px;
    text-align: center; }
    .section-five .intro p {
      margin-top: 45px; }
  .section-five .window {
    height: 450px;
    background-image: url("../img/1.png");
    min-height: 370px;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    margin-top: 6px;
    position: relative; }

.section-six {
  height: 460px;
  background-color: #323969;
  z-index: 2;
  position: relative; }
  .section-six h2 {
    color: #ffffff;
    text-align: center; }
  .section-six .title {
    text-align: center;
    margin-top: 0px; }
  .section-six .btn {
    border: none;
    background-color: #ff6d6d;
    color: #ffffff;
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    display: inline-block;
    padding-right: 40pxs;
    margin-top: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; }
  .section-six .btn:hover, .section-six .btn:active, .section-six .btn:visited {
    border: none;
    background-color: #cc5757;
    color: #ffffff; }
  .section-six .terms {
    margin-top: 40px;
    color: #ffffff; }
  .section-six input:active, .section-six input:hover, .section-six input:focus {
    border: 1px solid #ffffff; }

.form-inline {
  margin-top: 10px; }

.form-group {
  margin-right: 30px;
  margin-top: 20px; }

.form-control {
  font-family: 'Exo', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #464c77; }

footer {
  height: 330px; }
  footer .row {
    margin-top: 80px;
    margin-left: 10px;
    z-index: 2;
    position: absolute; }
  footer a {
    display: block;
    text-align: left;
    color: #ff6d6d; }
  footer .form-control {
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background-color: #f6f6f6; }
  footer .btn-default {
    background-color: #ff6d6d;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; }
  footer .btn:hover, footer .btn:active, footer .btn:visited {
    background-color: #cc5757;
    color: #ffffff; }
  footer i {
    color: #ffffff; }
  footer .social {
    margin-top: 10px; }
    footer .social i {
      color: #cbcbcb;
      padding-right: 15px; }
