/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1261px) {
	.section-three svg {
		margin-top: -97px
	}
}

@media only screen and (max-width : 1120px) {

}	
/* 1042px */
@media only screen and (max-width : 1080px) {

/* 1032px */
@media only screen and (max-width : 1032px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 938px) {
	.section-three svg {
		margin-top: -117px
	}
	header .btn {
		margin-left: 45%;
	}
}

@media only screen and (max-width :966px) {

	.form-inline {
		text-align: center;;
	}
}

@media only screen and (max-width : 882px) {
	.section-three svg {
		margin-top: -139px
	}
}

@media only screen and (max-width : 818px) {
	.section-three svg {
		margin-top: -163px
	}
}

@media only screen and (max-width : 810px) {
	header h1 {
		font-size: 40px;
	}
}

@media only screen and (max-width :787px) {
	.section-six button {
		margin-top: 20px;
		margin-left: 0px;
	}
	.fg-3 {
		margin-top: 20px;
	}
	.form-inline {
		text-align: left;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	h1 {
		font-size: 25px
	}
	h2 {
		font-size: 25px
	}

	h4 {
		font-size: 20px
	}

	.bg-responsive {
		display: none;
	}
	.section-one  {
		margin-top: 50px;
	}
	.section-two  {
		margin-top: -270px;
	}
	.section-two .title  {
		padding-top: 30px;
	}
	.section-three article {
		margin-top: -400px;
	}
	.section-three .title {
		color: #ffffff;
	}
	.section-three svg {
		margin-top: -1px;
	}
	.section-four  {
		margin-top: 0px;
		padding-top: 20px;
		height: 1140px;
	}
	.section-four .reviews {
		margin-top: 270px;
	}
	.section-four .reviews-items {
		margin-top: -250px;
		margin-bottom: 0;
	}
	.section-five .intro {
		margin-top: 20px;
	}
	.section-six {
		margin-top: -170px;
	}
	.section-six .title {
		margin-top: 50px;
	}
	.section-six p {
		margin-top: 20px;
	}	
	.form-inline {
		margin-top: 10px;
	}
	.section-six .terms {
		margin-top: 0;
		margin-left: 15px;
	}
	footer .row {
		margin-top: 20px;
		margin-left: 0px;
	}
}

@media only screen and (max-width : 690px) {
	header .btn {
		margin-left: 44%;
	}
}

@media only screen and (max-width : 600px) {
	header .btn {
		margin-left: 43%;
	}
	.rewards img {
		max-width: 100%;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 530px) {
	header button {
		margin-left: 0;
	}
	header .btn {
		margin-left: 42%;
	}
	.section-two .features {
		margin-top: 15px;
	}
	header .logo {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media only screen and (max-width : 414px) {
	.section-three svg {
		margin-top: -8px;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	header .btn {
		margin-left: 36%;
	}
	header i {
		margin-left: 50%;
	}

}

@media only screen and (max-width : 299px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}